/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  .manage-programations-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Título principal */
  h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  /* Lista de programaciones */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fafafa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para los botones */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  
  /* Espaciado y alineación para los botones */
  button {
    display: inline-block;
  }
  
  /* Enlace dentro del botón */
  button a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Lista de Programaciones (Componente ProgramationList) */
  .programation-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los elementos de la lista */
  .programation-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  