/* src/NavBar.css */

/* Contenedor general del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d9b1e; /* Fondo blanco */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la marca del logo */
.navbar-brand .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* Contenedor de los enlaces del Navbar */
.link-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Estilo de los enlaces */
.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #0a0a0a;
  text-decoration: none;
}

.nav-link:hover {
  color: #06488d;
}

/* Estilo del botón de Cerrar sesión */
.logout-btn {
  font-size: 1rem;
  padding: 6px 12px;
  background-color: #dd3705;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ee1a0b;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .link-container {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .navbar-brand .logo {
    font-size: 1.5rem;
  }

  /* Ajuste del botón de Cerrar sesión */
  .logout-btn {
    margin-top: 10px;
  }
}
